.section__narow {
  width: calc(100% - 100px *2);
}

@media (max-width: 1279px) {
  .section__narow {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .section__narow {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section__narow {
    width: 100%;
  }
}