.place__paragraph {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  max-width: 484px;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .place__paragraph {
    width: 456px;
  }
}

@media (max-width: 1023px) {
  .place__paragraph {
    width: 352px;
    line-height: 26px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .place__paragraph {
    width: 288px;
  }
}