.lead__image {
  width: 984px;
  height: 615px;
  padding: 0;
  margin: 64px 0 0 0;
}

@media (max-width: 1279px) {
  .lead__image {
    margin-top: 56px;
    width: 100%;
    height: 580px;
  }
}

@media (max-width: 1023px) {
  .lead__image {
    width: 780px;
    margin: 56px 0 0;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .lead__image {
    width: 320px;
    margin: 40px 0 0;
    height: 200px;
  }
}