.place__website {
  grid-area: website;
  align-self: self-end;
  max-width: 456px;
}

@media (max-width: 1023px) {
  .place__title {
    width: 352px;
    font-size: 42px;
    line-height: 46px;
}
}

@media (max-width: 767px) {
  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
}
}